<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Account confirmation Instructions, Email: <%= @email %></h1>
    <p>
      You can confirm your account by using this code: <b><%= @code %></b>.<br>
    </p>
    <p>Thank you, have a great day!</p>
  </body>
</html>