<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Forget Password Instructions, Email: <%= @email %></h1>
    <p>
      You have successfully changed your password,
      your password is: <b><%= @password %></b>.<br>
    </p>
    <p>Thank you, have a great day!</p>
  </body>
</html>