


<style>
  *{
      font-family: 'Nunito', sans-serif;
  }
  .bnt{
      font-size: 18pt !important;
      padding: 15px 50px !important;
      border-radius: 13px !important;
  }
  .form-control1::placeholder{
      color: #cccccc !important;
      font-weight: 700;
  }
  .form-control{
      color: black !important;
  }
  .form-control1 {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .nav_logo{
      width: 35px !important;
  }
  .nav_logo_1{
      width: 130px !important;
  }
  @media screen and (max-width: 500px){
    .smaller-text{
        font-size: 10px !important;
    }
    .nav_logo{
        width: 20px !important;
    }
    .nav_logo_1{
        width: 80px !important;
    }
    .bnt{
        padding: 10px 30px !important;
        font-size: 16px !important;
    }
    .inner_img{
        width: 75% !important;
    }
  }
  @media only screen and (max-width: 790px) and (min-width: 500px)  {
    .bnt{
        padding: 10px 50px !important;
        font-size: 16px !important;
    }
  }
</style>
<header>
  <nav class="p-3 ml-md-5 ml-2">
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 m-auto text-center">
      <div class="row">
        <div class="col-md-8 m-auto pt-2">
        <p class="font-weight-bold h5" style="margin-top: 300px;">
          <%= image_tag 'done.png', width: "20px" %>
          Thank you. Your account has been verified
        </p>
        </div>
      </div>
    </div>
  </div>
</div>